html {
  @include mq.mq($until: tablet) {
    font-size: 56.25%;
  }
  @include mq.mq($from: tablet) {
    font-size: 62.5%;
  }
}

body {
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 1.75;
}

* {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
