.root {
  display: grid;
  grid-template: 1fr auto / 1fr;
}

.content {
  padding: 0 0 48px;
}

.list {
  background: var(--color-green);
  bottom: 0;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  height: 48px;
  position: fixed;
  width: 100%;
}

.trigger {
  align-items: center;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 2px;
  justify-content: center;
  padding: 4px 0 0;
}

.trigger:not(:first-child) {
  border-left: 1px solid var(--color-white);
}
