.wrapper {
  align-content: center;
  align-items: center;
  display: grid;
  gap: 24px;
  justify-content: center;
}

.button {
  font-family: arial, sans-serif;
  font-size: 1.6rem !important;
  letter-spacing: 1px;
  margin: 0 12px !important;
}
