.wrapper {
  background: var(--color-green);
  position: relative;
}

.inner {
  align-content: center;
  align-items: center;
  background: var(--color-white);
  border-radius: 24px;
  display: grid;
  gap: 24px;
  inset: 24px;
  justify-content: center;
  position: absolute;
}

.button {
  font-family: arial, sans-serif;
  font-size: 1.6rem !important;
  letter-spacing: 1px;
  margin: 0 12px !important;
}
